<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.llbt.cms.dao.NoticeMapper">
	<!-- 查询结果映射 -->
	<resultMap id="searchResultMap" type="com.llbt.cms.entity.Notice">
		<result property="id" column="id" />
		<result property="createBy" column="create_by" />
		<result property="createDate" column="create_date" />
		<result property="updateBy" column="update_by" />
		<result property="updateDate" column="update_date" />
		<result property="title" column="title" />
		<result property="contentText" column="content_text" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
		<result property="isDelete" column="is_delete" />
		<result property="noticeState" column="notice_state" />
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,create_by,create_date,update_by,update_date,title,content_text,start_date,end_date,is_delete,notice_state
	</sql>
	<!-- 新增记录 -->
	<insert id="insert" parameterType="com.llbt.cms.entity.Notice">
		INSERT INTO mms_notice (
		create_by ,
		create_date ,
		update_by ,
		update_date ,
		title ,
		content_text ,
		start_date ,
		end_date ,
		is_delete,
		notice_state
		) VALUES (
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{title},
		#{contentText},
		#{startDate},
		#{endDate},
		#{isDelete},
		#{noticeState}
		)
	</insert>
	<!-- 单记录删除 -->
	<delete id="delete" parameterType="java.lang.String">
		update mms_notice set
		is_delete=1
		where id=#{id}
	</delete>
	<!-- 批量记录删除 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		update mms_notice set is_delete=1 where id in
		<foreach collection="list" item="ids" open="(" separator=","
			close=")">#{ids}</foreach>
	</delete>
	<!-- 单记录更新 -->
	<update id="update" parameterType="com.llbt.cms.entity.Notice">
		UPDATE mms_notice
		<trim prefix="set" suffixOverrides=",">
			<if test="updateBy != null">
				update_by =#{updateBy},
			</if>
			<if test="updateDate != null">
				update_date =#{updateDate},
			</if>
			<if test="title != null">
				title =#{title},
			</if>
			<if test="contentText != null">
				content_text =#{contentText},
			</if>
			<if test="startDate != null">
				start_date =#{startDate},
			</if>
			<if test="endDate != null">
				end_date =#{endDate},
			</if>
			<if test="isDelete != null">
				is_delete =#{isDelete},
			</if>
			<if test="noticeState != null">
				notice_state =#{noticeState},
			</if>
		</trim>
		where id=#{id}
	</update>
	<!-- 查询记录BY ID -->
	<select id="getById" resultMap="searchResultMap" parameterType="java.lang.String">
		select
		<include refid="columns" />
		from
		mms_notice where id=#{id}
	</select>
	<!-- 查询所有记录 -->
	<select id="getAll" resultMap="searchResultMap" parameterType="java.lang.String">
		select
		<include refid="columns" />
		from
		mms_notice where is_delete=0 order by create_date desc
	</select>
	<!-- 查询分页记录 -->
	<select id="queryPage" resultMap="searchResultMap"
		parameterType="com.llbt.cms.vo.Page">
		 select *
		from (select rownum rw, t.*
		from (select
		<include refid="columns" />
		from mms_notice where is_delete=0 order by create_date desc) t
		where
		rownum <![CDATA[<=]]>
		#{endLine})
		where rw <![CDATA[>]]>
		#{startLine}
	</select>

	<select id="getNoticeCount" resultType="int">
		select count(1) from
		mms_notice where is_delete=0
	</select>
	<!-- 动态查询条件 -->
	<sql id="searchConditionSQL">
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="createBy != null">
				and create_by = #{createBy}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate}
			</if>
			<if test="updateBy != null">
				and update_by = #{updateBy}
			</if>
			<if test="updateDate != null">
				and update_date = #{updateDate}
			</if>
			<if test="title != null">
				and title = #{title}
			</if>
			<if test="contentText != null">
				and content_text = #{contentText}
			</if>
			<if test="startDate != null">
				and start_date = #{startDate}
			</if>
			<if test="endDate != null">
				and end_date = #{endDate}
			</if>
			<if test="isDelete != null">
				and is_delete = #{isDelete}
			</if>
		</trim>
	</sql>

	<select id="queryNoticePage" resultMap="searchResultMap">
	select 
		<include refid="columns" /> 
		from mms_notice where is_delete=0 
		<if test="noticeState!=null and noticeState!=''"> and notice_state=#{noticeState}</if>
		order by create_date desc 
		limit #{page.startLine},#{page.pageSize}
	</select>

	<select id="countNotice" parameterType="java.lang.String"
		resultType="int">
		select count(1) from mms_notice where is_delete=0
		<if test="_parameter!=null and _parameter!=''"> and notice_state=#{noticeState}</if>
	</select>

</mapper>