#file-input{
		cursor: pointer;
		border-radius: 25px;
		color: white;
		background: #69524d;
		border: 0px;
		width: 150px;
		height: 40px;
		font-size: 20px;
		outline: none;
		margin: 0px 15px 0px 15px;
		visibility:hidden;
	}
	.input-btn{
	position: absolute;
		cursor: pointer;
		border-radius: 25px;
		color: white;
		background: #968a87;
		border: 0px;
		width: 120px;
		height: 30px;
		font-size: 15px;
		outline: none;
		margin-left: -180px;
  		top: 295px;
	}
	#thumburlShow{
	 margin-left: 0px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
	}
	.user-photo {
    margin-left: -178px;
    margin-top: 45px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    }